    {% if room is defined %}
        <h6>Salle : "{{ room.name }}"</h6>
        <ul>
        {% if room.equipments is not empty %}
            Équipements :
            {% for equipement in room.equipments %}
                <li>{{ equipement }}</li>
            {% endfor %}
        {% else %}
            Pas d'équipement dans la salle
        {% endif %}
        
        
        </ul>
    {% else %}
        <p>Sélectionnez une salle pour afficher ses équipements.</p>
    {% endif %}
