{% extends 'admin.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'app_secretariat_rooms_create' %}
        Créer une Salle
    {% else %}
        Éditer la Salle
    {% endif %}
{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/css/tom-select.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <h1>
        {% if app.request.attributes.get('_route') == 'app_secretariat_rooms_create' %}
            Créer une Salle
        {% else %}
            Éditer la Salle
        {% endif %}
    </h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.equipments) }}

    	{% if app.request.attributes.get('_route') == 'app_secretariat_rooms_edit' %}
            <button type="submit" class="btn primary-custom-button">Modifier la salle</button>
        {% else %}
            <button type="submit" class="btn primary-custom-button">Créer la salle</button>
	    {% endif %}


	
    {{ form_end(form) }}
</div>
{% endblock %}


{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0/dist/js/tom-select.complete.min.js"></script>
	<script>
        window.onload = () => {
			function bindSelect (select) {
				new TomSelect(select, {
					hideSelected: true,
					maxOptions: 20,
					plugins: {
						remove_button: {
							title: 'Supprimer l\'équipement'
						},
                        clear_button: {
							title: 'Vider les équipements'
						}
					}
				})
			}
			Array.from(document.querySelectorAll('select[multiple]')).map(bindSelect)

			
        }
    </script>
{% endblock %}


